/* location-suggestion */
.page-proxy {
    display: flex;
    flex-direction: column;
}


.location-image {
    width: 81px;
    height: 106px;
    object-fit: contain;
    opacity: 0.5;
    padding-top: 23px;
    padding-bottom: 33px;

}

.retina .location-image {
    width: 160px;
    height: 213px;
    padding-bottom: 66px;
    padding-top: 126px;
}

.link-text {

    letter-spacing: -1px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 300;
    color: #8293a7;
}

.retina .link-text {
    width: 449px;
    height: 71px;
    font-size: 36px;
    line-height: 40px;
}

.link-to-virtual-locations {
    text-decoration: none;
    outline: none;
}

.location-suggestion-content {
    margin: 20px 21px 20px 24px;
    padding: 20px 20px 35px 20px;
    text-align: center;
    cursor: pointer;
}

.retina .location-suggestion-ccontent {
    padding-bottom: 113px;
    padding-left: 91px;
    padding-right: 93px;
    line-height: 2;
}

/* current-location */

/*.current-location-content {*/

/*}*/

/*.current-location.premium {*/
/*    margin-bottom: 30px;*/
/*    padding-left: 20px;*/
/*}*/

/*.retina .current-location.premium {*/
/*    margin-bottom: 60px;*/
/*}*/



/*.current-location {*/
/*    opacity: 0.7;*/
/*    text-align: center;*/
/*    border-radius: 5px;*/
/*    background-color: #efefef;*/
/*    border: dashed 0.5px #9eaab8;*/
/*    margin-top: 18px;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*    margin-bottom: 26px;*/
/*    padding-left: 20px;*/
/*    padding-right: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*.retina .current-location {*/
/*    border: dashed 1px #9eaab8;*/
/*    margin-right: 40px;*/
/*    margin-left: 40px;*/
/*    margin-top: 38px;*/
/*    margin-bottom: 54px;*/
/*    padding-left: 40px;*/
/*    padding-right: 42px;*/
/*}*/

/*.current-location-flag {*/
/*    width: 105px;*/
/*    height: 75px;*/
/*    object-fit: contain;*/
/*    padding-top: 42px;*/
/*    !*padding-left: 88px;*/
/*    padding-right: 88px;*!*/
/*}*/

/*.retina .current-location-flag {*/
/*    width: 210px;*/
/*    height: 150px;*/
/*    padding-top: 80px;*/

/*}*/

.country-name {
    /*padding-left: 90px;*/
    /*padding-right: 91px;*/
    padding-top: 22px;
    padding-bottom: 38px;
    /*font-family: SFUIDisplay;*/
    font-size: 18px;
    font-weight: 600;
    /*color: #000000;*/
    line-height: 20px;
    letter-spacing: -0.7px;
}

.country-name.premium {
    padding-bottom: 32px;
    padding-top: 17px;
}

.retina .country-name {
    padding-top: 50px;
    padding-bottom: 76px;
    line-height: 1;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
}

.retina .country-name.premium {
    padding-top: 40px;
    padding-bottom: 70px;
}


.you-are-premium-user-message {

    opacity: 0.74;
    /*    font-family: SFUIDisplay;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    padding-right: 6px;
    padding-bottom: 15px;
    letter-spacing: -0.6px;
}

.retina .you-are-premium-user-message {
    font-size: 28px;
    padding-bottom: 30px;
    letter-spacing: 0;
}
.link-to-change-location {
    font-size: 16px;
    letter-spacing: -0.6px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #8293a7;
    text-decoration: none;
    outline: none;
}

.retina .link-to-change-location {
    font-size: 32px;
    letter-spacing: 0px;
}

.premium-progress-bar {
    width: 281px;
    height: 5px;
    border-radius: 2px;
    background-color: #bec6ce;
    margin-left: 17px;
}

.retina .premium-progress-bar {
    width: 560px;
    height: 8px;
    border-radius: 4px;
    margin-left: 40px;
}

.premium-left-progress-bar {
    width: 193px;
    height: 5px;
    border-radius: 16px;
    background-color: #ffdb36;

}

.retina .premium-left-progress-bar {
    width: 384px;
    height: 8px;
    border-radius: 16px;
}

.logout-image {
    width: 17px;
    height: 17px;
    object-fit: contain;
    line-height: 0;
}

.retina .logout-image {
    width: 33px;
    height: 32px;
}

.logout-text {
    width: 100%;
    opacity: 0.74;

}

.logout-link {
    color: rgba(23, 166, 174, 0.74);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-bottom: 0.5px solid RGB(217, 228, 229);
    cursor: pointer;

}

.retina .logout-text, .retina .logout-link {
    font-size: 24px;

}

.logout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    line-height: 0;

}

.retina .logout {
    padding-top: 43px;

}

.wrapper-link-to-change-location {
    padding-bottom: 40px;
}

.retina .wrapper-link-to-change-location {
    padding-bottom: 82px;
}

.wrapper-link-to-change-location.premium {
    padding-bottom: 35px;
}

.retina .wrapper-link-to-change-location.premium {
    padding-bottom: 70px;
}

.wrapper-logout-text {
    padding-top: 4px;
    padding-left: 3px;
}

.retina .wrapper-logout-text {
    padding-left: 10px;
}



.change-location-link-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #8293a7;
}

.retina .change-location-link-text {
    font-size: 32px;
    font-weight: 600;
}

/*# sourceMappingURL=current-location.css.map */

.proxy-fox-circle-out {
    width: 142px;
    height: 142px;
    position: relative;
    margin: 4px auto 4px auto;
}

.proxy-fox-circle-in {
    width: 108px;
    height: 108px;
    margin: 17px auto;
}

.proxy-fox-circle-out,
.proxy-fox-circle-in {
    border-radius: 50%;
    border: 1px solid #F3F3F3;
}

.proxy-fox {
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
}

.proxy-account-status {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #112E4E;
    margin: 0 20px;
}

.proxy-account-status__speed {
    display: inline-block;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #8191A2;
}

.proxy-switcher {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.proxy-location {
    /*margin-top: auto;*/
}

.proxy-location__header {
    display: flex;
    align-items: center;
}
.proxy-location__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #768596;
    margin-right: 10px;
}

.proxy-location__divider {
    width: 100%;
    height: 1px;
    background-color: #E5EAF0;
}