body {
  /*width: 319px;*/
  /*height: 540px;*/
  margin: 0;
  /*padding: 17px;*/
  /*overflow: hidden;*/
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
}

#root {
  width: 319px;
  height: 540px;
  padding: 17px;
  overflow: hidden;
}

h1,h2,h3,p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input {
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;
}