.subscription {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subscription__title {
  margin-bottom: 10px;
  margin-top: 144px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #112e4e;

}

.header__img{
  position: absolute;
  z-index: 0;
  right: -7px;
  top: 0;
}


.subscription__list {
  list-style: none;
  padding: 0 4px;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #353333;
  flex-grow: 1;
}

.subscription__list-el {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subscription__list-el:last-child {
  margin-bottom: 0;
}

.subscription__list-img {
  margin-right: 12px;
  vertical-align: bottom;
}

.subscription__description {
  padding: 0 5px;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6D7E8F;
}

.subscription__link {
  display: block;
  margin: 0 auto;
  /*margin: 0 auto;*/
  text-decoration: none;
  /*max-width: 195px;*/
  width: 100%;
  background: #0079FB;
  border-radius: 47px;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription__link:hover {
  opacity: .8;
}