/*.proxy-list-page .header-label {*/
/*    !*width: 126px;*!*/
/*    letter-spacing: -0.2px;*/
/*    !*line-height: 1;*!*/

/*    padding-left: 18px;*/
/*}*/

.retina.proxy-list-page .header-label {
    padding-top: 40px;
    padding-left: 40px;
    /*padding-right: 196px;*/
    width: 100%;
    padding-bottom: 31px;
    font-size: 36px;
}

.retina .toggle.proxy-list-page {
    padding: 0;
    padding-left: 217px;
    padding-top: 34px;
}

.wrapper-header-label {
    line-height: 1;
}

.toggle.proxy-list-page {
    /*padding-left: 97px;*/
}

.help-center {
    display: flex;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 17px;
    padding-right: 77px;
    letter-spacing: -0.8px;
    white-space: nowrap;
}

.retina .help-center {
    padding-left: 38px;
    padding-top: 32px;
    padding-right: 224px;
}

.wrapper-help-center-image {
    line-height: 0;
}

.wrapper-help-center-text {
    padding-top: 2px;
    padding-left: 4px;
}

.retina .wrapper-help-center-text {
    padding-top: 5px;
    padding-left: 9px;
}

.help-center-image {
    width: 17px;
    height: 17px;
    object-fit: contain;
    /*background-color: #a0b0b9;*/
}

.retina .help-center-image {
    width: 32px;
    height: 32px;
}

.help-center-link {
    text-decoration: none;
    cursor: pointer;
}

.help-center-text {
    opacity: 0.5;
    /*font-family: SFUIDisplay;*/
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.retina .help-center-text {
    font-size: 24px;
}

.proxy-list-wrapper {
    /*padding-left: 0;*/
    /*padding-right: 10px;*/
    /*margin-top: 17px;*/
    /*margin-bottom: 0;*/
    /*padding-bottom: 16px;*/
    height: 389px;
    overflow-y: auto;
}

.proxy-list-wrapper::-webkit-scrollbar {
    width: 5px;
}

.proxy-list-wrapper::-webkit-scrollbar-track {
    background: #F1F6FB;
    border-radius: 6px;
}

.proxy-list-wrapper::-webkit-scrollbar-thumb {
    background: #758699;
    border-radius: 6px;
}

.proxy-list {
    padding: 0 10px 0 0;
    margin: 0;
}

.proxy-list-name-list {
    margin-top: 17px;
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #8191A2;
}

.retina .proxy-list {
    margin-top: 32px;
    padding-bottom: 34px;
}



.app.proxy-list-page {
    padding-bottom: 0;
}

.go-premium {
    display: flex;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;

}

.retina .go-premium {
    padding-top: 32px;
}

.wrapper-go-premium-image {
    line-height: 0;
}

.proxy-list-container {
    margin-top: 22px;
}

/*.retina .proxy-list-container {*/
/*    padding: 0 32px;*/
/*}*/


.go-premium-image {
    width: 18px;
    height: 17px;
    object-fit: contain;
}

.retina .go-premium-image {
    width: 35px;
    height: 32px;
}

.search-proxy-input-box {
    /*padding: 18px 6px 0;*/
    position: relative;
}

.retina .search-proxy-input-box {
    padding-top: 48px;
}

.search-proxy-input {
    /*background-color: #efefef;*/
    background: #F1F6FB;
    border: none;
    height: 44px;
    width: 100%;
    border-radius: 4px;
    padding-left: 15px;
    /*padding-bottom: 10px;*/
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #6D7E8F;
    outline: none;
}

.retina .search-proxy-input {
    height: 52px;
    padding-bottom: 30px;
    padding-left: 100px;
    font-size: 28px;
}

.search-proxy-input-image {
    position: absolute;
    bottom: 14px;
    /*left: 14px;*/
    right: 15px;
    width: 16px;
    height: 16px;
}

.retina .search-proxy-input-image {
    width: 32px;
    height: 33px;
    bottom: 26px;
    left: 24px;
}


::-webkit-input-placeholder {
    color: #a7b5bd;
}

.wrapper-go-premium-text {
    padding-top: 3px;
    padding-left: 3px;
}

.retina .wrapper-go-premium-text {
    padding-left: 7px;
    padding-top: 5px;
}

.footer {
    display: flex;
}

.proxy-list-page .footer {
    justify-content: space-between;
}

.go-premium-text {
    /*font-family: SFUIDisplay;*/
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: right;
    color: #17a6ae;
    border-bottom: 0.5px solid green;
    white-space: nowrap;
}

.retina .go-premium-text {
    font-size: 24px;
}

.go-premium-link {
    text-decoration: none;
}
