
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

.retina .switch {
  width: 74px;
  height: 38px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  background-color: #F1F6FB;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

input:checked + .slider {
  /*background-color: #17a6ae;*/
  background-color: #0079FB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 9.5px;
}

.slider.round:before {
  border-radius: 9.5px;
}

.retina .slider:before {
  height: 32px;
  width: 32px;
  left: 5px;
  bottom: 3px;
}

.retina input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.retina .slider.round:before, .retina .slider.round {
  border-radius: 19px;
}