/*$widthbutton: 281px;*/
.premium-button {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background-color: #17a6ae;
    text-decoration: none;
    border: none;
    padding: 0;
    outline: none;
}

.premium-button:hover {
    cursor: pointer;
}

.retina .premium-button {
    width: 100%;
    height: 108px;
    border-radius: 10px;
}

.premium-button-label {
    /*font-family: SFUIDisplay;*/
    font-size: 16px;
    /*font-weight: bold;*/
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
}

.retina .premium-button-label {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}


.container-button {
    /*padding-top: 59px;*/
    padding-left: 17px;
    padding-right: 17px;
}

.retina .container {
    padding-left: 40px;
    padding-right: 40px;
}

.container .retina {
    border: 5px;
}
