.subscription-low-time {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__img{
  width: 100%;
  position: static;
}
.subscription-low-time__title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #112e4e;
}

.subscription-low-time__link {
  display: block;
  margin: 30px auto 0;
  /*margin: 0 auto;*/
  text-decoration: none;
  /*max-width: 195px;*/
  width: 100%;
  background: #0079FB;
  border-radius: 47px;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription-low-time__link:hover {
  opacity: .8;
}