
.back-button, .retry-button, .retry-button-without-back {
    display: flex;

}

.back-text {
    opacity: 0.74;
    font-size: 12px;
    font-weight: bold;
    color: rgba(23, 166, 174, 0.74);
    padding-left: 7px;
    text-decoration: underline;
}

.back-text:hover {
    cursor: pointer;
}

.retina .back-text {
    font-size: 24px;
}

.retina .back-text {
    position: relative;
    bottom: 5px;
    padding-left: 18px;
}

.back-image {
    width: 17px;
    height: 14px;
}

.retina .back-image {
    width: 32px;
    height: 26px;
}

.retina .back-button {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    color: rgba(23, 166, 174, 0.74);
}
