.start-page {
  /*padding: 71px 27px 0;*/
  padding: 30px 27px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-page-logo {
  margin-bottom: 13px;
}

.start-page-greeting {
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  color: #112E4E;
  margin-bottom: 10px;
}

.start-page-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.start-page-greeting--login-ru,
.start-page-greeting--login-de {
  /*margin-bottom: 55px;*/
   margin-bottom: 26px;
}

.start-page-greeting--login-en,
.start-page-greeting--login-es{
  margin-bottom: 26px;
}

.start-page-greeting--login-fr {
   margin-bottom: 26px;
}
.start-page-greeting--login-tr {
   margin-bottom: 26px;
}

.start-page-free-desc,
.start-page-login,
.start-page-sign {
  color: #8191A2;
}
.start-page-free-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 26px;
}

.start-page-recovery,
.start-page-login,
.start-page-sign {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}

.start-page-recovery {
  margin-top: 14px;
  /*margin-bottom: 76px;*/
  color: #112E4E;
}

.start-page-recovery a {
  color: #0079fb;
}

.start-page-hint {
  margin-top: auto;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #8191A2;
}

.start-page-hint span {
  color: #0079FB;
  text-decoration: underline;
  cursor: pointer;
}
.start-page-hint span:hover {
  opacity: .8;
}

.start-page-input {
  /*margin-bottom: 10px;*/
  margin-bottom: 27px;
  padding: 0 25px;
  border: none;
  width: 100%;
  height: 52px;
  border-radius: 6px;
  background: #F1F6FB;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #6D7E8F;
}

.start-page-input--login {
  margin-bottom: 27px;
}

.start-page-submit {
  /*width: 100%;*/
  /*height: 56px;*/
  /*border: none;*/
  /*background: #0079FB;*/
  /*border-radius: 47px;*/
  /*padding: 20px 0;*/
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.start-page-login {
  margin-top: 81px;
}

.start-page-label {
  position: relative;
  width: 100%;
  height: 56px;
  border: none;
  background: #0079fb;
  border-radius: 47px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.start-page-preloader {
  position: absolute;
  top: 10px;
  left: calc(50% - 19px);
}

.start-page-error {
  width: 100%;
  margin-top: 10px;
  /*top: 57px;*/
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: red;
}

.start-page-error--login {
  position: absolute;
  top: 57px;
  margin-top: 0;
}
.start-page-error--email {
  position: absolute;
  top: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 50px;
  margin-bottom: 5px;
  margin-top: 0;
}