.subscription-expired {
  text-align: center;
}

.subscription-expired__img {
  margin: 43px 0 13px 0;
}

.subscription-expired__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #112E4E;
  margin-bottom: 9px;
}

.subscription-expired__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #8191A2;
  margin-bottom: 27px;
  padding: 0 24px;
}