.registration-notification {
  padding: 88px 18px 40px;
  text-align: center;
}

.registration-notification__icon {
  margin-bottom: 13px;
}

.registration-notification__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #112E4E;
  margin-bottom: 9px;
}

.registration-notification__description {
  font-size: 14px;
  line-height: 19px;
  color: #8191A2;
  margin-bottom: 27px;
}

.registration-notification__button {
  width: 100%;
  padding: 20px;
  background-color: #0079FB;
  border-radius: 47px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.registration-notification__button:hover {
  opacity: .8;
}