.proxies-trial-banner {
  display: flex;
  margin: 17px 10px 0 0;
  padding: 12px 17px;
  background-color: #0079FB;
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
}

.proxies-trial-banner:hover {
  opacity: .8;
}

.proxies-trial-banner__icon {
  margin-right: 13px;
}