
.premium-input-container {
	height: 131px;
	position: relative;
	opacity: 0.6;
	border-radius: 5px;
	background-color: #efefef;
	border: dashed 0.5px #9eaab8;
	margin-top: 18px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 27px;
}

.retina .premium-input-container {
	height: 256px;
	opacity: 0.6;
	border-radius: 10px;
	background-color: #efefef;
	border: dashed 1px #9eaab8;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 58px;
	margin-top: 38px;
}

.premium-input {
	width: 100%;
	display: block;
    box-sizing: border-box;
	/*height: 55px;*/
	opacity: 0.6;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 0.5px #9eaab8;
	/*font-family: SFUIDisplay;*/
	font-size: 16px;
	font-weight: 300;
	/*line-height: 1;*/
	text-align: left;
	color: #8293a7;
	padding-left: 17px;
	padding-top: 18px;
	padding-bottom: 16px;
	padding-right: 48px;
	letter-spacing: -0.8px;
}

.retina .premium-input {
    border-radius: 10px;
    font-size: 32px;
    font-weight: 300;
    padding-top: 33px;
    letter-spacing: 0;
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 80px;
}

.input-image {
	width: 27px;
	height: 21px;
	object-fit: contain;
	/*background-color: #17a6ae;*/
	position: absolute;
	left: 227px;
	bottom: 29px;
}

.retina .input-image {
	width: 52px;
	height: 40px;
	left: 458px;
	bottom: 54px;
}

.input-box {
	padding: 0 10px 10px 10px;
}

.retina .input-box {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
/*@font-face {
  font-family: "SFUIDisplay";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}*/

.where-to-get-a-passcode {
	letter-spacing: -0.6px;
	/*font-family: SFUIDisplay;*/
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000000;
	padding-bottom: 12px;
}

.retina .where-to-get-a-passcode {
	letter-spacing: 0;
	font-size: 36px;
	font-weight: 600;
	padding-bottom: 22px;
}

.lorem-ipsum {
	/*font-family: SFUIDisplay;*/
	font-size: 14px;
	letter-spacing: -0.6px;
	font-weight: 300;
	line-height: 1.43;
	text-align: center;
	color: #000000;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.retina .lorem-ipsum {

	font-size: 28px;
	font-weight: 300;
	line-height: 1.43;
	padding-left: 84px;
	padding-right: 85px;
	padding-bottom: 42px;
	letter-spacing: -0.1px;
}

.text-above-input {
	letter-spacing: -0.8px;
	/*font-family: SFUIDisplay;*/
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #000000;
	padding-top: 24px;
	padding-right: 10px;
	padding-bottom: 21px;
}

.retina .text-above-input {
	font-size: 36px;
	font-weight: 600;
	padding-top: 46px;
	padding-bottom: 43px;
	padding-right: 0px;
	letter-spacing: 0;
}

.activation-back-wrapper {
	margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}