.improve-account-banner {
  margin-top: auto;
  position: relative;
  padding: 13px 24px 17px;
  background-color: #F6F8FB;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.improve-account-banner img {
  width: 60px;
  margin-right: 20px;
}

.improve-account-banner--trial {
  padding-left: 88px;
}

.improve-account-banner--trial::before {
  position: absolute;
  top: -2px;
  left: -8px;
  content: '';
  width: 78px;
  height: 79px;
  background: url("../../images/improve-account-banner-pic.svg") no-repeat;
}

.improve-account-banner__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #112E4E;
}

.improve-account-banner__link {
  padding: 5px;
  display: block;
  width: 90px;
  height: 30px;
  background: #0079FB;
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}