
/* app */

.app {
  width: 100%;
  height: 100%;
  /*width: 317px;*/
  /*width: 319px;*/
  /*height: 540px;*/
  /*overflow: hidden;*/
  /*padding-bottom: 20px;*/
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  /*padding: 0;*/
  margin: 0;
  /*border-radius: 4px;*/
  /*background-color: #efefef;*/
  /*background-color: #ffffff;*/
  /*border: 1px solid #eaeaea;*/
  /*-webkit-box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.3);*/
  /*box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.3);*/
  /*border: solid 1px rgba(0, 0, 0, 0.3);*/
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
  /*font-family: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;*/
}
.app.retina {
  width: 640px;
  padding-bottom: 40px;

}


/* header */

.header {
  width: 100%;
  /*height: 60px;*/
  display: flex;
  align-items: center;
}

.header-label {
  flex-grow: 1;
  /*letter-spacing: -0.2px;*/
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  color: #112E4E;
  /*padding-top: 20px;*/
    /*padding-bottom: 15px;*/
    /*padding-left: 17px;*/
    /*opacity: .6;*/
}

.header-logo {
  width: 25px;
  baseline-shift: 25px;
  margin-right: 9px;
}

.retina .header-label {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 40px;
}

.page-header-options-button {
  height: 30px;
  width: 30px;
  outline: none;
  cursor: pointer;
}

.page-header-options-button img {
    height: 100%;
}

/*.header > *:last-child {*/
/*    margin-right: 20px;*/
/*    margin-left: 10px;*/
/*}*/

.divider {
  width: 319px;
  height: 2px;
  background-color: #d9d9d9;
}

.retina .divider {
  width: 638px;
  height: 2px;
}

.header .toggle {
  display: flex;
}

.retina .toggle {
  padding-top: 36px;
  padding-right: 40px;
  padding-left: 133px;
  padding-right: 40px;
  padding-bottom: 33px;
}


.toggler-status {

  height: 10px;
  opacity: 0.7;

  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: right;

  padding-right: 4px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.retina .toggler-status {
  width: 31px;
  height: 19px;
  font-size: 24px;
  padding-top: 9px;
  padding-right: 9px;
}

/*# sourceMappingURL=header.css.map */
