.instructions {
    padding: 0;
    max-width: 320px;
    width: 100%;
    height: 540px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
    .instructions {
        margin: 0;
        padding: 0;
    }
}

.instructions__item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    cursor: pointer;
}
.instructions__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.instructions__item.active {
    opacity: 1;
}

.instructions__arrow {
    width: 18px;
    height: 11px;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.instructions__arrow.prev {
    bottom: 25px;
    left: 50px;
}
.instructions__arrow.next {
    bottom: 25px;
    right: 50px;
}

.instructions__close {
    width: 12px;
    height: 11px;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    bottom: 53px;
    left: 287px;
}
.instructions__dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.instructions__dot {
    width: 12px;
    height: 11px;
    border-radius: 61%;
    border: 2px solid #fafafa;
    margin: 0 5px;
    background: rgba(77, 77, 77, .2);
    cursor: pointer;
}
.instructions__dot.active {
    background: #0079fb;
    width: 25px;
    border-radius: 65px;
}