
.proxy-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 44px;
    /*padding: 5px;*/
    cursor: pointer;
    padding: 12px 15px;
    border: 1.5px solid #E5EAF0;
    border-radius: 49px;
    margin-bottom: 9px;
}

.proxy-item:last-child {
    margin-bottom: 0;
}

.retina .proxy-item {
    padding-bottom: 9px;
    padding-top: 8px;
}

.retina .proxy-item:first-child::after {
    /*background: url('../images/check-proxy.svg') no-repeat -2px 7px;*/
    padding-left: 30px;
}

.proxy-item__status,
.proxy-item__connect {
    margin-left: 5px;
    /*position: relative;*/
    /*top: 4px;*/
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    color: #0079FB;
}

.proxy-item--trial .proxy-item__status {
    color: #8191A2;
}

.proxy-item__status img {
    margin-right: 4px;
}

.proxy-item:hover .proxy-item__status,
.proxy-item:hover .proxy-item__connect,
.proxy-item.proxy-item--connected .proxy-item__status {
    color: #17a6ae;
}

.proxy-item__connect {
    display: none;
}

.proxy-item:hover .proxy-item__status {
    display: none;
}

.proxy-item:hover .proxy-item__connect {
    display: block;
}

/*.proxy-item:hover {
    border-radius: 2.5px;
    background-color: #ffffff;
    cursor: pointer;
}*/
.retina .proxy-item:first-child::after {
    background-size: 20px;
}

.retina .proxy-item:first-child::after {
    font-size: 24px;
}

.retina .proxy-item::after {
    font-size: 24px;
    padding-right: 43px;
    top: 10px;
}

.country-image {
    /*vertical-align: top;*/
    /*width: 36px;*/
    /*height: 24px;*/
    /*border-radius: 4px;*/
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

.retina .country-image {
    width: 70px;
    height: 47px;
}

.item-country-name {
    flex-grow: 1;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #353333;
    margin-left: 12px;
    position: relative;
    /*vertical-align: top;*/
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.retina .item-country-name {
    font-size: 28px;
    margin-left: 25px;
}

.proxy-item__status-img {
    height: 17px;
    margin-right: 0 !important;
    margin-left: 5px;
    vertical-align: bottom;
}
