.current-location {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /*padding: 24px 14px;*/
  /*background-color: #f5f8fb;*/
  /*border-radius: 4px;*/
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
}

.current-location__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
}

.current-location__flag {
  border-radius: 50%;
  /*width: 40px;*/
  /*height: 40px;*/
  width: 20px;
  height: 20px;
}

.current-location__name {
  font-size: 15px;
  color: #353333;

}

.current-location__change {
  font-weight: 500;
  color: #8191A2;
  cursor: pointer;
}

.current-location__status {
    margin-left: 5px;
    /*position: relative;*/
    /*top: 4px;*/
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    color: #0079FB;
}

.current-location--trial .current-location__status {
    color: #8191A2;
}

.current-location__status-img {
    height: 17px;
    margin-right: 0;
    margin-left: 10px;
    vertical-align: bottom;
}