
.sml-select {
    position: relative;
}

.sml-select-control {
    display: flex;
    align-items: stretch;
    background: #F1F6FB;
    border-radius: 4px;
}

.sml-select-value {
    flex-grow: 1;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sml-select-toggle {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sml-select-arrow {
    margin-top: 3px;
    display: inline-block;
    position: relative;
    height: 0;
    width: 0;
    border-color: #758699 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 2.5px;
}

.sml-select--open .sml-select-arrow {
    margin-top: -1px;
    border-color: transparent transparent #758699;
    border-width: 0 5px 5px;
}

.sml-select-list {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #efefef;
    border: 1px solid #d9d9d9;
    z-index: 1;
}

.sml-select--open .sml-select-list {
    display: block;
}

.sml-select-option {
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sml-select-option:hover {
    cursor: pointer;
    background-color: #eaeaea;
    background-color: #758699;
}

.sml-select-option > span,
.sml-select-value > span {
    padding-left: 5px;
    padding-right: 5px;
}

.sml-select-value > span {
    line-height: 24px;
}

.sml-select-option > span {
    line-height: 20px;
}