
.reg-timer {
    text-align: center;
}

.reg-timer__progress {
    margin-top: 50px;
}

.reg-timer__caption {
    margin-top: 40px;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

.reg-timer__detail {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    line-height: 1.4;
    color: #8293a7;
}


.reg-timer-progress {
    width: 120px;
}

.reg-timer-progress .CircularProgressbar-text {
    fill: #8293a7;
    font-size: 25px;
}

.reg-timer-progress .CircularProgressbar-path {
    stroke: #ffdb36;
}

.reg-timer-progress .CircularProgressbar-trail {
    stroke: #b8c1cb;
}