.page-options {
    display: flex;
    flex-direction: column;
}

.options-list {
    /*padding: 30px 20px;*/
    /*min-height: 240px;*/
}

.options-list-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #eeeeee;
}

/*.options-list-item:not(:first-child) {*/
/*    margin-top: 20px;*/
/*}*/
.options-list-item__block {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #768596;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.options-list-item__question-link {
    text-decoration: none;
    color: inherit;
    margin-left: 7px;
}

.options-proxy-instructions-open{
    width: 285px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #768596;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.options-list-item__label {
    width: 140px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #768596;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.options-list-item__control {
    margin-left: 10px;
    flex-grow: 1;
    line-height: 0;
    text-align: right;
}

.options-list-item__buy {
    display: inline-block;
    min-width: 90px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background: #0079FB;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}

.options-list-item__logout {
    cursor: pointer;
}

.options-list-item__buy:hover {
    opacity: .8;
}

.options-list-item--language .options-list-item__control {
    text-align: left;
}

.options-list-item--language .sml-select-list {
    max-height: 120px;
    overflow: auto;
    border-radius: 4px;
    border: none;
    padding: 6px 0;
    background: #F1F6FB;
}

.options-list-item--language .sml-select-list::-webkit-scrollbar {
    width: 5px;
}

.options-list-item--language .sml-select-list::-webkit-scrollbar-track {
    background: #F1F6FB;
    border-radius: 6px;
}

.options-list-item--language .sml-select-list::-webkit-scrollbar-thumb {
    background: #758699;
    border-radius: 6px;
}

.locale-option-select-item {
    display: flex;
    align-items: center;
    max-width: 120px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #112e4e;
}

.locale-option-select-item__image {
    height: 24px;
    margin: 0 0 0 2px;
}

.locale-option-select-item__name {
    /*margin-left: 7px;*/
    padding: 5px 0 5px 11px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size: 14px;
    flex-grow: 1;
}