.your-ip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: #112E4E;
}

.your-ip__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.your-ip__flag {
  vertical-align: bottom;
  width: 19px;
  height: 19px;
  margin-right: 7px;
}

.your-ip__ip {
  font-size: 14px;
}