.retina .error-box {
    margin-top: 178px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.retina .error-status {
    font-size: 36px;
    font-weight: 600;
    padding-top: 85px;
    letter-spacing: 0;

}

.error-status {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.8px;
    margin-bottom: 7px;
}

.error-box {
    margin: 88px 20px 0 20px;
    text-align: center;
}

.warning-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /*padding: 0 124px 0 124px;*/
}

.retina .warning-image {
    width: 145px;
    height: 132px;
}

.error-text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.8px;
    max-width: 215px;
    text-align: center;
    margin: 0 auto 27px;
    color: #8191A2;
}


.retina .error-text {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25;
    color: #8293a7;
    letter-spacing: 0;
    padding: 20px 20px 110px 20px;

}

.error-footer {
    min-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.retina .error-footer {
    padding: 40px 22px 0;
}

.retry-button {
    display: flex;
}

.retry-text:hover {

}

.retina .retry-text {
    font-size: 24px;
}

.retina .retry-text {
    position: relative;
    bottom: 5px;
    padding-left: 18px;
}

.retry-text {
    padding-left: 7px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.retry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 56px;

    color: #fff;
    background: #0079FB;
    border-radius: 47px;
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.retry-image {
    width: 17px;
    height: 17px;
}

.retina .retry-image {
    width: 32px;
    height: 32px;
}

.retina .retry-button {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    color: rgba(23, 166, 174, 0.74);
}

.retina .retry-button {
    padding-left: 346px;

}

.retina .retry-button-without-back {
    padding-left: 440px;
}

.error-back {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #8191A2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.error-back__image {
    width: 11px;
    margin-right: 7px;
}