.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F8FB;
  border-radius: 47px;
  width: 166px;
  height: 56px;
}
.switch-wrapper__block {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.switch-big {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F8FB;
  border-radius: 47px;
  transition: background-color 300ms;
  cursor: pointer;
}

.switch-big::before,
.switch-big::after {
  position: absolute;
  top: 17px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: transparent;
  transition: color 100ms;
}

.switch-big::before {
  left: 52px;
  content: 'On';
}
.switch-big::after {
  left: 87px;
  content: 'Off';
}
/* Hide default HTML checkbox */

.switch-wrapper input {
  display: none;
}

.round-big {
  position: absolute;
  top: 7px;
  left: 8px;
  background-color: #ffffff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: left 300ms;
}

.round-big::after,
.round-big::before {
  position: absolute;
  top: 14px;
  left: 14px;
  content: '';
  width: 15px;
  height: 14px;
  transition: opacity 150ms;
}

.round-big::after {
  background: url('../../images/not-checked.svg') no-repeat;
  opacity: 1;
}

.round-big::before {
  background: url('../../images/checked.svg') no-repeat;
  opacity: 0;
}

input:checked ~ .switch-big {
  background-color: #41CE2E;
}
input:not(:checked) ~ .switch-big::after {
  color: #112E4E;
}
input:checked ~ .switch-big::before {
  color: #ffffff;
}

input:checked ~ .switch-big .round-big {
  left: 117px;
}
input:checked ~ .switch-big .round-big::after {
  opacity: 0;
}
input:checked ~ .switch-big .round-big::before {
  opacity: 1;
}