
.back-button, .retry-button, .retry-button-without-back {
    display: flex;
    cursor: pointer;
    margin-right: 14px;
}

.back-button:hover .back-image {
    opacity: .8;
}

.subscription .back-button {
    margin-right: 0;
    z-index: 1;
}

.promo-deal .back-button {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: 0;
    z-index: 1;
}

/*.back-text {*/
/*    opacity: 0.74;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*    color: rgba(23, 166, 174, 0.74);*/
/*    padding-left: 7px;*/
/*    text-decoration: underline;*/
/*}*/

/*.back-text:hover {*/
/*    cursor: pointer;*/
/*}*/

/*.retina .back-text {*/
/*    font-size: 24px;*/
/*}*/

/*.retina .back-text {*/
/*    position: relative;*/
/*    bottom: 5px;*/
/*    padding-left: 18px;*/
/*}*/

.back-image {
    width: 30px;
    height: 30px;
}

/*.retina .back-image {*/
/*    width: 32px;*/
/*    height: 26px;*/
/*}*/

/*.retina .back-button {*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    line-height: 1.67;*/
/*    color: rgba(23, 166, 174, 0.74);*/
/*}*/
