.competitor {
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competitor__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #112e4e;
  margin-top: 36px;
}

.competitor__list {
  list-style: none;
  padding: 0 10px;
  margin-top: 18px;
}

.competitor__element {
  display: flex;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #8191A2;
}

.competitor__element:last-child {
  margin-bottom: 0;
}

.competitor__element-icon {
  margin-right: 10px;
}

.competitor__disabled-button {
  margin-top: auto;
  max-width: 231px;
  width: 100%;
  height: 56px;
  border: none;
  background: #0079fb;
  border-radius: 47px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
}